@import "../../../assets/styles/styles.scss";

.addItem {
    height: 0px;
    overflow: hidden;
    transition: all 0.5s ease;
    margin: $base-spacing;
    padding: $base-spacing;
    border: 2px solid black;
    
    > form {
        
        display: flex;
        flex-direction: column;

        > *{
            margin: $base-spacing;
        } 

        > textarea{
            resize: none;
            height: 150px;
        }
    }
}