@import "../../assets/styles/styles.scss";

.header{
    margin: $base-spacing;
    padding: $base-spacing;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .headerButtons {
        display: flex;
        align-items: center;

        
        .user {
            border-left: 1px solid black;
            display: flex;
            align-items: center;

            img {
                height: 50px;
                border-radius: 50%;
            }
        }

        * {
            margin:$base-spacing;
        }
    }
}