@import "../../assets/styles/styles.scss";

.header{
    margin: $base-spacing;
    padding: $base-spacing;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .headerButtons {
        display: flex;
        align-items: center;
    }
}