@import "../../../assets/styles/styles.scss";


.toDoItem {

    &.complete {
        p, h1 {
            text-decoration: line-through;
        }
    }

    &.editing {
        background-color: rgb(118, 221, 115);
        border: 2px black dashed;
    }

    border: 2px white dashed;

    .buttons{
        display: flex;

    }

    .header {
        display : flex;
        justify-content: space-between;
        align-items: center;

        .title {
            display: flex;
            align-items: center;

            h1 {
                margin: 0px;
                padding: 0px;
            }
        }


    }

    .tagContainer {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .tagAddIcon {
            margin-right: $base-spacing;

             &:hover{
                 color: rgb(46, 212, 46);
             }
        }

        .tag {
            display: flex;
            border: 1px solid black;
            margin: 0px $base-spacing;
            padding: $base-spacing*0.5;
            border-radius: $base-spacing;
            
            p {
                margin: 0px;
            }

            .tagDeleteIcon {
                margin-left: $base-spacing;
                cursor: pointer;
                
                &:hover {
                    color: red;
                }
            }
        }
    }

    .description {

        textarea {
            width: 100%;
            height: auto;
            resize: none;
        }

        p {
            padding: 0px $base-spacing;
            word-break: break-word;
            white-space: pre-line;
        }
    }
}