@import "../../../assets/styles/styles.scss";


.toDoItem {

    &.complete{
        p, h1 {
            text-decoration: line-through;
        }
    }

    .header {
        display : flex;
        justify-content: space-between;
        align-items: center;

        .title {
            display: flex;
            margin: 0px;
            padding: 0px;
            align-items: center;
        }


    }

    .description {

        textarea {
            width: 100%;
            height: auto;
            resize: none;
        }

        p {
            word-break: break-word;
            white-space: pre-line;
        }
    }
}