@import "../../../assets/styles/styles.scss";


.toDoItem {

    &.complete {
        p, h1 {
            text-decoration: line-through;
        }
    }

    &.editing {
        background-color: rgb(118, 221, 115);
        border: 2px black dashed;
    }

    border: 2px white dashed;

    .buttons{
        display: flex;
        
    }

    .header {
        display : flex;
        justify-content: space-between;
        align-items: center;

        .title {
            display: flex;
            align-items: center;

            h1 {
                margin: 0px;
                padding: 0px;
            }
        }


    }

    .description {

        textarea {
            width: 100%;
            height: auto;
            resize: none;
        }

        p {
            padding: 0px $base-spacing;
            word-break: break-word;
            white-space: pre-line;
        }
    }
}