@import "./variables";

.faIcon {
    margin: $base-spacing;
    padding: $base-spacing;
    border: 2px solid white;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
        background-color: $hover-background-color;
        color: $hover-color;
        border-color: $hover-border-color;
    }
}