.faIcon {
  margin: 10px;
  padding: 10px;
  border: 2px solid white;
  transition: all 0.3s ease;
  cursor: pointer;
}
.faIcon:hover {
  background-color: rgba(68, 68, 68, 0.705);
  color: white;
  border-color: black;
}