@import "./variables";

.faIcon {
    margin: $base-spacing;
    padding: $base-spacing;
    border: 2px solid white;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
        background-color: $hover-background-color;
        color: $hover-color;
        border-color: $hover-border-color;
    }
}

@media only screen and (max-width: 768px){
    
    .faIcon {
        margin: $base-spacing * 0.8;
        padding: $base-spacing * 0.8;
    }
}

@media only screen and (max-width: 500px){
    
    .faIcon {
        margin: $base-spacing * 0.5;
        padding: $base-spacing * 0.5;
    }
}