@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;600&display=swap');

* {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: $font-size;
}

h1 {
    font-size: $title-size;
    font-weight: 600;
}

@media only screen and (max-width: 768px){
    
    * {
        font-size: $font-size * 0.8;
    }

    h1 {
        font-size: $title-size * 0.8;
    }
}

@media only screen and (max-width: 500px){
    
    * {
        font-size: $font-size * 0.5;
    }

    h1 {
        font-size: $title-size * 0.5;
    }
}